.note-container {
  background-color: rgb(230, 212, 178);
  height: calc(100vh - 5px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.menu-container {
  background-color: rgb(230, 212, 178);
  height: 100vh;
  display: flex;
  align-items: center;
}

.attempts-container {
  text-align: end;
}

.attempts-container .score {
  padding: 10px;
}

.score-container .score {
  padding: 10px;
}

.tiger-container {
  margin: 15px;
  text-align: center;
}

div.note-img-container {
  margin: 15px;
}

.keyboard-container {
  background-color: black;
  height: 22vh;
  align-items: baseline;
  text-align: center;
}

.pictNote {
  max-height: 220px;
}

.img {
  height: 100%;
}

.imgFrame {
  background: #fff;
  border-radius: 15px;
}

.row > .imgFrame {
  width: fit-content;
  height: fit-content;
}

button.btn {
  padding: 15px;
}
