.cont {

  background-color: rgb(230, 212, 178);
}

.contTiger {
  height: 25vh;
}

div.contNote {
  height: 30vh;
}

.contKeyb {
  background-color: black;
  height: 22vh;
  align-items: baseline;
}


.pictNote {
max-height: 220px;

}

.img {
  height: 100%;
}

.score {
  height: 10vh;
}
.octaves {
  height: 15vh;
}