.cont {

  background-color: rgb(230, 212, 178);
}

.contTiger {
  height: 30vh;
}

div.contNote {
  height: 48vh;
}

.contKeyb {
  background-color: black;
  height: 22vh;
  align-items: baseline;
}


.pictNote {
max-height: 355px;

}

.img {
  height: 100%;
}

/*
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 212, 178);
  flex-direction: column;
  flex-wrap: nowrap
}

.contTiger {
  display: flex;
  align-self: center;
  width: 100vh;
  height: 30vh;
 background-color: rgb(225, 174, 78);
}

.contNote {
  display: flex;
  align-self: center;
  width: 100vh;
  height: 50vh;
  background-color: rgb(116, 80, 14);
}

.pictNote {
  width: 40vh;
  height: 30vh;

}


.contKeyb {
  display: flex;
  align-self: center;
  background-color: black;
  width: 100vh;
  height: 20vh;

}

.img {
  width: 10vh;
  height: 15vh;
  flex-shrink: 3;
}*/